/* placeholder */
input::placeholder {
  color: #cdcdcd;
}
/* 정렬 */
.fl-left {
  float: left !important;
}
.fl-right {
  float: right !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

/* 대제목 */
h3 {
  display: inline-block;
  position: relative;
}
h3 img {
  cursor: pointer;
}
h3 img:hover + .tooltip-wrap {
  display: inline-block;
}
dt img:hover + .tooltip-wrap {
  display: inline-block;
}
.title-box {
  position: relative;
  display: block;
  margin: 20px;
  text-align: center;
}
.title-box .title {
  font-size: 3rem;
  font-weight: 600;
}
.title-box .title.on {
  color: #00d39c;
}
.title-box .desc {
  margin-top: 10px;
  line-height: 1.5;
  font-size: 1.55rem;
  color: #7b7b7b;
  word-break: keep-all;
}
.title-box .desc em {
  color: #00d39c;
}
.color-emphasis {
  color: #00d39c;
}
.color-alert {
  color: #fc2221;
}
.product-title-wrap {
  overflow: hidden;
  width: 100%;
  color: #444;
}
.product-title-wrap .product-title {
  float: left;
  padding: 0 27px 0 85px;
  font-size: 4rem;
  letter-spacing: -2px;
  font-weight: 600;
  border-right: solid 4px #d2d2d2;
}
.product-title-wrap .product-desc {
  float: left;
  padding-left: 30px;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
  line-height: 1.5;
}
.product-title-wrap .btn-move {
  float: left;
  padding-left: 100px;
}
.product-title-wrap .btn-info {
  margin-top: 15px;
}

/* chexkbox, radio */
.radio {
  position: relative;
  display: inline-block;
}
.radio + .radio {
  margin-left: 15px;
}
.radio input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.radio input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  vertical-align: top;
  color: #555;
  font-weight: 600;
  font-size: 1.8rem;
}
.radio input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 17px;
  height: 17px;
  text-align: center;
  background: #fff;
  border: 1px solid #dedfdf;
  border-radius: 100%;
}
.radio input[type="radio"]:checked + label:before {
  background: #fff;
  border-color: #adb8c0;
}
.radio input[type="radio"]:checked + label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 4px;
  width: 11px;
  height: 11px;
  background: #00d39c;
  border-radius: 100%;
}

.checkbox input[type="checkbox"] {
  /* 실제체크박스 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.checkbox input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checkbox input[type="checkbox"] + label:before {
  /* 가짜 체크박스 */
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  /* margin: -2px 8px 0 0; */
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}
.checkbox input[type="checkbox"] + label:active::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.checkbox input[type="checkbox"]:checked + label:active:before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.checkbox input[type="checkbox"]:checked + label::before {
  /* 체크박스를 체크했을때 */
  content: "\2714";
  color: #fff;
  background: #00d39c;
  border-color: #00d39c;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  font-weight: normal;
}

/* 공통 테이블 레이아웃 */
table {
  table-layout: fixed;
}
table th {
  position: relative;
}
table th,
table td {
  overflow: hidden;
  padding: 0 2%;
  font-size: 1.5rem;
  letter-spacing: -0.75px;
  font-weight: 500;
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  box-sizing: border-box;
}
.table-type1 {
  border-bottom: 1px solid #b5b5b5;
  text-align: center;
}
.table-type1 th {
  height: 40px;
  border: 1px solid #b5b5b5;
  border-width: 1px 0;
  font-weight: 600;
}
.table-type1 td {
  height: 40px;
  border-bottom: 1px dotted #ddd;
  font-size: 1.4rem;
  letter-spacing: -0.7px;
}
.table-type1 tr:last-child td {
  border-bottom: 0;
}

.table-type2 {
  border: 1px solid #e4e4e4;
  text-align: center;
}
.table-type2 tr {
  border-bottom: 1px solid #e4e4e4;
}
.table-type2 th {
  height: 50px;
  line-height: 50px;
  background-color: rgba(228, 228, 228, 0.5);
  font-weight: 600;
}
.table-type2 td {
  height: 50px;
  line-height: 50px;
  border-left: 1px solid #e4e4e4;
}

.table-type3 {
  border: 1px solid #dfdfdf;
  border-width: 1px 0;
}
.table-type3 th {
  height: 42px;
  background-color: #eee;
  font-weight: 600;
}
.table-type3 td {
  height: 42px;
  border-top: 1px solid #dfdfdf;
  text-align: center;
}

.table-type4 {
  min-width: 100%;
}
.table-type4 th {
  background-color: #eee;
  font-weight: 600;
}
.table-type4 th,
.table-type4 td {
  height: 55px;
  border: 1px solid #dfdfdf;
  text-align: center;
}

/* pagination */
.paging-wrap {
  text-align: center;
  margin-top: 30px;
}
.paging-wrap .paging {
  display: inline-block;
}
.paging-wrap .paging li {
  float: left;
}
.paging-wrap .paging li.active a {
  color: #00d39c;
}
.paging-wrap .paging li a {
  display: block;
  padding: 0 5px;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: -0.8px;
}
.paging-wrap .paging li a img {
}
.paging-wrap .paging li:first-child a img {
  transform: rotate(180deg);
}

/* tooltip */
.tooltip-wrap {
  display: none;
  position: absolute;
  z-index: 30;
  left: 115%;
  top: -20px;
}
.tooltip-wrap .text {
  min-width: 210px;
  line-height: 1.5;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background: #333;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: -0.7px;
  word-break: keep-all;
  text-align: left;
}
.tooltip-wrap .text:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  left: -7.5%;
  bottom: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #333;
}
.tooltip-wrap .text .color-yellow {
  color: #f1e400;
}
.tooltip-wrap2 {
  left: 50%;
  transform: translateX(-50%);
  top: 45px;
}
.tooltip-wrap2 .text:before {
  z-index: 2;
  left: 50%;
  top: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #333;
}
.tooltip-wrap3 {
  left: 91%;
  top: 50px;
}
.tooltip-wrap3 .text:before {
  z-index: 2;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #333;
}

/* table tooltip */
.table-tooltip-wrap {
  position: relative;
}
.table-tooltip {
  /* display: none; */
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 105%;
  width: 190px;
  height: 140px;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #c7c7c7;
  background: #fff;
  box-sizing: border-box;
}
.table-tooltip .tooltip {
  width: 100%;
  height: 100%;
}
.table-tooltip .tooltip > li {
  height: 60px;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  text-align: center;
}
.table-tooltip .tooltip > li:last-child {
  border-bottom: 0;
}
.table-tooltip .tooltip > li span {
  display: inline-block;
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
}
.table-tooltip .tooltip > li strong {
  display: block;
  margin-top: 5px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: -1.54px;
  font-weight: 700;
}
.table-tooltip .tooltip > li .point li {
  float: left;
  width: 50%;
  background-position: 100% 50%;
  background-size: 100%;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
  text-align: center;
}
.table-tooltip .tooltip > li .point li.up {
  color: #00d39c;
}
.m-table-tooltip {
  display: none;
}
/* 달력 */
.ui.table {
  border: 0 !important;
}
.ui.celled.table > tbody > tr > td {
  border-left: 0;
}
.ui.table > tbody > tr > td {
  border-top: 0;
}
.ui.form {
  height: 100%;
}
.ui.form .calendar-input {
  border-radius: 0;
}
.ui.form .icon {
}
.ui.form .fields {
  height: 100% !important;
  margin: 0;
}
.ui.form .fields > .field {
  padding: 0;
  margin: 0;
}
.ui.form .fields > .field .ul {
  background: transparent;
}
.ui.form input[type="text"] {
  height: 50px;
  border: 2px solid #e5e5e5;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  font-family: "NanumSquare", sans-serif;
  font-weight: 500;
  color: #7d7d7d;
}
.ui.input > input {
  border: 2px solid #e5e5e5;
  border-radius: 0;
  box-shadow: none;
}
.field:first-of-type .ui.input > input {
  border-right: 0;
}
.ui.form .two.fields .ui.input input {
  font-size: 1.8rem;
}
.cl {
  width: 20px;
  height: 19px;
  background: url(../images/icon/ico_cl.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 15px;
}
.cl2 {
  width: 20px;
  height: 19px;
  background: url(../images/icon/ico_cl2.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 15px;
}
.ui.calendar .ui.table tr th .icon {
  width: 15px;
  height: 20px;
  z-index: 999;
  font-size: 0;
  background: url(../images/icon/btn.png);
}

/* button */
.btn {
  height: 48px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-size: 20px;
}
.btn-emphasis {
  background-color: #00d39c;
}
.btn-black {
  background-color: #313131;
}
.btn-alert {
  background-color: #e96968;
}
.btn-blue {
  background-color: #8899ff;
}

/* helper */
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.font-weight-bold {
  font-weight: bold;
}