/* 키워드 핵심 분석 */
.anlysis-page-wrap .input-box {
  max-width: 50%;
  height: 70px;
  margin: 0 auto;
  border: 3px solid #00d39c;
}
.anlysis-page-wrap .input-box input {
  float: left;
  width: 70%;
  height: 100%;
  padding: 0 3%;
  border: 0;
  font-size: 2.4rem;
  letter-spacing: -1.2px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.anlysis-page-wrap .input-box button {
  float: right;
  width: 16%;
  height: 100%;
  margin-left: 17px;
  background-color: #69e5c4;
  border: 0;
  color: #fff;
  font-size: 2.4rem;
  letter-spacing: -1.2px;
  font-weight: 600;
}
.shopping-category {
  margin-top: 15px;
  text-align: center;
}
.shopping-category .text {
  font-size: 1.8rem;
  letter-spacing: -0.9px;
  font-weight: 600;
  color: #444;
  vertical-align: middle;
}
.shopping-category .category-list {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.shopping-category .category-list li {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: -0.8px;
  color: #444;
}
.shopping-category .category-list li:nth-child(odd) {
  padding: 0 10px;
}
.shopping-category .category-list li:last-child {
  color: #00d39c;
}
.analysis-contents {
  overflow: hidden;
  padding-top: 50px;
}
.analysis-contents .analysis-keywords {
  display: inline-block;
  position: relative;
  z-index: 10;
  width: 16.39%;
  text-align: center;
  vertical-align: top;
}
.analysis-contents .analysis-keywords h3 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
  font-weight: 600;
  color: #222;
}
.analysis-contents .analysis-keywords .related-keywords {
  overflow: hidden;
  position: relative;
  height: 565px;
  padding-bottom: 25px;
  border: 1px solid #c7c7c7;
  text-align: left;
  box-sizing: border-box;
}
.analysis-contents .analysis-keywords .related-keywords button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25px;
  border: 0;
  text-align: center;
}
.analysis-contents .analysis-keywords .related-keywords .keywords-scroll {
  overflow-y: auto;
  height: 100%;
}
.analysis-contents .analysis-keywords .related-keywords .keywords-list {
  padding: 5px 0;
}
.analysis-contents .analysis-keywords .related-keywords .keywords-list li {
  height: 34px;
  padding: 0 6%;
  font-size: 1.4rem;
  letter-spacing: -0.7px;
  line-height: 34px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.analysis-contents .analysis-keywords .related-keywords .keywords-list li.on {
  background-color: rgba(0, 211, 156, 0.1);
}
.analysis-contents .analysis-area {
  display: inline-block;
  width: 40%;
  text-align: center;
  vertical-align: top;
  margin-left: 4%;
}
.analysis-contents .analysis-area:last-of-type {
  width: 35%;
}
.analysis-contents .analysis-area .sec + .sec {
  margin-top: 40px;
}
.analysis-contents .analysis-area h3 {
  margin-bottom: 15px;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
  font-weight: 600;
  color: #222;
}
.analysis-contents .analysis-area .table-type2 {
  width: 100%;
}
.analysis-contents .analysis-area .chart-area {
  width: 100%;
  height: 160px;
  margin: 30px 0;
  background: #ededed;
}
.analysis-contents .analysis-area .analysis-desc {
  margin: 10px 0;
  padding: 10px 0;
  background-color: #231815;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: -0.75px;
}
.analysis-contents .analysis-area .analysis-desc > span {
  color: #00d39c;
  vertical-align: top;
}
.analysis-contents .analysis-area .analysis-score {
  width: 100%;
  margin-top: 20px;
}
.analysis-contents .analysis-area .analysis-score .score-table {
  width: 100%;
  border: 2px solid #4fe0ba;
}
.analysis-contents .analysis-area .analysis-score .score-table th {
  height: 46px;
  line-height: 46px;
  background-color: #9cedd8;
  font-size: 1.6rem;
  letter-spacing: -0.8px;
  font-weight: 600;
}
.analysis-contents .analysis-area .analysis-score .score-table th:first-child {
  border-right: 2px solid #4fe0ba;
}
.analysis-contents .analysis-area .analysis-score .score-table td {
  height: 210px;
  line-height: 210px;
  font-size: 4rem;
  letter-spacing: -2px;
  font-weight: 700;
}
.analysis-contents .analysis-area .analysis-score .score-table td:first-child {
  border-right: 2px solid #4fe0ba;
}
.analysis-contents .analysis-area .analysis-score .score-table td em {
  color: #4fe0ba;
}
.analysis-contents .analysis-area .score-label {
  text-align: center;
  margin-bottom: 40px;
}
.analysis-contents .analysis-area .score-label li {
  display: inline-block;
  font-size: 1.3rem;
  letter-spacing: -0.65px;
  color: #222;
}
.analysis-contents .analysis-area .score-label li img {
  margin-right: 5px;
}
.analysis-contents .analysis-area .score-label li span {
  font-weight: 600;
}

/* 공통- 키워드 입력 */
.input-container {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}
.keyword-input-wrap:after {
  content: "";
  display: block;
  clear: both;
}
.keyword-input-wrap .keyword-input-area {
  float: left;
  display: table;
  table-layout: fixed;
  width: calc(50% - 2.7%);
  margin-bottom: 25px;
}
.keyword-input-wrap .keyword-input-area dt,
.keyword-input-wrap .keyword-input-area dd {
  display: table-cell;
  vertical-align: middle;
}
.keyword-input-wrap .keyword-input-area dt {
  position: relative;
  width: 90px;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
  font-weight: 600;
  color: #555;
}
.keyword-input-wrap .keyword-input-area dd {
  position: relative;
  height: 36px;
}
.keyword-input-wrap .keyword-input-area dd input[type="text"] {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #e4e4e4;
  color: #444;
  font-size: 1.6rem;
  letter-spacing: -0.8px;
}
.keyword-input-wrap .keyword-input-area dd input[type="text"]:focus {
  border-bottom-color: #00d39c;
}
.keyword-input-wrap .keyword-input-area dd select {
  width: 100%;
  height: 37px;
  color: #cdcdcd;
  border: 1px solid #e4e4e4;
  background: url(../images/icon/ico_down3.png) no-repeat 95% 50%;
  text-indent: 10px;
  font-size: 1.6rem;
  letter-spacing: -0.8px;
}
.keyword-input-wrap .keyword-input-area dd select option {
  color: #282828;
}
.keyword-input-wrap .keyword-input-area dd select option:hover {
  background-color: rgba(0, 211, 156, 0.1);
}
.keyword-input-wrap .keyword-input-area dd .btn-wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 42px;
  line-height: 42px;
}
.keyword-input-wrap .keyword-input-area dd .btn-wrap .btn-submit {
  width: 115px;
  height: 42px;
  border: 0;
  border-radius: 5px;
  background-color: #00d39c;
  color: #fff;
  font-size: 2rem;
  letter-spacing: -1px;
}
.keyword-input-wrap .keyword-input-area dd .btn-wrap .btn-refresh {
  width: 50px;
  height: 42px;
  margin-left: 10px;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background: none;
  vertical-align: top;
}
.keyword-input-wrap .keyword-input-area dd .btn-wrap .btn-refresh img {
  width: 50px;
  height: 42px;
}
.keyword-search-wrap {
  position: relative;
  margin-top: 10px;
}

.keyword-search-wrap .search-input {
  display: block;
  width: 497px;
  margin: auto;
}
.keyword-search-wrap .search-input input[type="text"] {
  width: 386px;
  height: 50px;
  padding: 0 2%;
  border: 2px solid #e5e5e5;
  border-right: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
}
.keyword-search-wrap .search-input .search-btn {
  float: right;
  width: 110px;
  height: 50px;
  background-color: #00d39c;
  border: 0;
  color: #fff;
  font-size: 2rem;
  letter-spacing: -1px;
  vertical-align: top;
}
.keyword-search-wrap .keyword-list .table-wrap {
  overflow-x: auto;
  width: 100%;
}
.keyword-search-wrap .keyword-list .table-wrap .table-scroll {
  overflow: hidden;
  width: 900px;
}
.keyword-search-wrap .table-type3 {
  margin-top: 50px;
  width: 100%;
}
.keyword-search-wrap .checkY {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #00d39c;
  border-radius: 5px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
}
.keyword-search-wrap .checkN {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-color: #bcbcbc;
  border-radius: 5px;
  line-height: 26px;
  color: #fff;
  font-weight: 600;
}
.keyword-search-wrap .btn-area {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-top: 20px;
}
.keyword-search-wrap .btn-area button {
  width: 62px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
}
.keyword-search-wrap .btn-area button + button {
  margin-left: 7px;
}
.keyword-search-wrap .btn-area .modify-btn {
  background-color: #76c6e6;
}
.keyword-search-wrap .btn-area .delete-btn {
  background-color: #f3a2a2;
}

/* 쇼핑 - 키워드입력 */
.shopping-keyword-wrap tr:hover {
  background-color: rgba(0, 211, 156, 0.1);
}
.shopping-keyword-wrap tr td:nth-of-type(5) {
  font-weight: 600;
  color: #00d39c;
}

/* 공통 - 결과 페이지 */
.result-page-wrap {
  position: relative;
}
.result-page-wrap .date-wrap {
  position: relative;
  width: 630px;
  margin: auto;
}
.keyword-search-wrap form {
  width: 630px;
  margin: auto;
  text-align: center;
}
.keyword-search-wrap .search-input {
  display: inline-block;
}
.keyword-search-wrap .excel-download {
  display: inline-block;
  width: 120px;
  height: 50px;
  margin-left: 1.6%;
  background-color: #333;
  color: #fff;
  font-size: 1.8rem;
  border: 0;
  vertical-align: bottom;
}
.keyword-search-wrap .notice-text {
  display: none;
}
.keyword-search-wrap .txt {
  padding: 20px 0 30px;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: -0.8px;
}
.keyword-search-wrap .keyword-result td:hover > .table-tooltip {
  display: block;
}
.keyword-search-wrap .keyword-result .table-wrap {
  overflow-x: auto;
  width: 100%;
}
.keyword-search-wrap .keyword-result .table-wrap .table-scroll {
  overflow: hidden;
  width: 1400px;
}

/* 쇼핑 - 결과 페이지 */
.shopping-search-wrap .search-input {
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}
.shopping-search-wrap .search-input input[type="text"] {
  width: 284px !important;
  border: 0 !important;
}
.shopping-search-wrap select {
  float: left;
  width: 95px;
  height: 30px;
  margin-top: 10px;
  border: 0;
  border-right: 1px solid #e5e5e5;
  background: url(../images/icon/ico_down3.png) no-repeat 90% 50%;
  text-align: left;
  text-indent: 5px;
  font-size: 1.6rem;
  letter-spacing: -0.8px;
  color: #999;
}
.shopping-search-wrap select option {
  width: 100%;
}
.shopping-search-wrap .excel-download {
  vertical-align: top !important;
  height: 52px !important;
}
.shopping-search-wrap .radio:first-of-type {
  margin-left: 10%;
}
.shopping-keyword-result {
  position: relative;
}
.shopping-search-wrap .btn-info {
  position: absolute;
  top: 130px;
  right: -40px;
  background: transparent;
  border: 0;
}
.shopping-search-wrap .btn-info:hover + .tooltip-wrap {
  display: inline-block;
}
/* 성공지표 */
.color-blue {
  color: #6698bc;
}
.color-red {
  color: #eb7675;
}
.shopping-result-wrap .keyword-result .table-wrap .table-scroll {
  width: 1100px;
}
.shopping-result-wrap .radio-wrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
}
.shopping-search-wrap .btn-info2 {
  top: 60px;
}
.shopping-search-wrap .btn-info2 + .tooltip-wrap3 {
  top: 110px;
}
.shopping-search-wrap .btn-info2 + .tooltip-wrap3 .text:before {
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: -4%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #333;
}

/* 공통 - 상품등록  */
.single-register-page {
  width: 990px;
  margin: auto;
  padding-top: 100px;
}
.product-info-wrap {
  margin: 50px 0;
}
.product-info-box {
  height: 64px;
}
.product-info-box .product-txt {
  float: left;
  width: 50%;
  padding-left: 85px;
  box-sizing: border-box;
}
.product-info-box .product-txt h4 {
  margin-bottom: 15px;
  font-size: 29px;
  letter-spacing: -1.95px;
  font-weight: 600;
}
.product-info-box .product-txt p {
  font-size: 20px;
  letter-spacing: -1px;
}
.product-info-box .product-mid {
  float: right;
  width: 50%;
}
.product-info-box .product-mid label {
  display: inline-block;
  width: 90px;
  margin-left: 10px;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -1.1px;
  text-align: center;
}
.product-info-box .product-mid input {
  width: 388px;
  height: 50px;
  padding: 0 10px;
  border: solid 1px #cacaca;
  background-color: #ffffff;
  font-size: 2rem;
  box-sizing: border-box;
}
.product-info-form {
  overflow: hidden;
  margin-top: 50px;
}
.product-info-form .product-input-area {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 12px;
}
.product-info-form .product-input-area.input-half {
  width: calc(50% - 10px);
}
.product-info-form .product-input-area.input-half dd {
  width: 388px;
}
.product-info-form .product-input-area dt {
  display: inline-block;
  width: 90px;
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -1.1px;
  text-align: center;
}
.product-info-form .product-input-area dd {
  display: inline-block;
  width: 893px;
}
.product-info-form .product-input-area dd input {
  width: 100%;
  height: 50px;
  line-height: 51px;
  padding: 0 10px;
  border: solid 1px #cacaca;
  background-color: #ffffff;
  box-sizing: border-box;
  font-size: 2rem;
}
.product-info-wrap2 .product-info-box {
  width: 100%;
  height: 90px;
}
.product-info-wrap2 .product-info-box .product-txt {
  width: 100%;
}
.product-info-wrap2 .product-info-box p:last-of-type {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #a0a0a0;
}
.product-info-wrap2 .product-info-form .product-input-area {
  padding-bottom: 15px;
}
.btn-product-wrap {
  text-align: center;
}
.btn-product-wrap button {
  width: 190px;
  height: 64px;
  background: #a0a0a0;
  color: #fff;
  font-size: 2.6rem;
  font-weight: 600;
}
.btn-product-wrap button[type="submit"] {
  margin-left: 18px;
  background: #00d39c;
}
/* input error */
.error input {
  border: solid 1px #fc2221 !important;
}
