/* header */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 2;
}
#header h1.header-logo {
  float: left;
  width: 220px;
  text-align: center;
}
#header h1.header-logo a {
  display: inline-block;
  margin-top: 10px;
}
#header h1.header-logo a img {
  width: 30%;
}
#header .header-info {
  float: left;
  margin: 10px 0 0 25px;
}
#header .header-info .menu {
  display: none;
  border: 0;
  background-color: transparent;
  font-size: 0;
  vertical-align: middle;
}
#header .header-info .menu .menu-icon {
  display: block;
  width: 24px;
  height: 21px;
  background: url("../assets/img/menu_ico.png") no-repeat 0 0;
  background-size: cover;
}
#header .header-info .user-info {
  display: inline-block;
  /* margin-left: 23px; */
  vertical-align: middle;
  color: #444;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
}
#header .header-info .user-info b {
  display: inline-block;
  vertical-align: 0px;
  font-weight: 600;
}
#header .header-info .user-info .logout {
  display: inline-block;
  width: 90px;
  height: 35px;
  margin-left: 15px;
  background-color: #e96968;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: -0.9px;
}
#header .breadcrumb {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}
#header .breadcrumb li {
  display: inline-block;
}
#header .breadcrumb li:after {
  content: ">";
  display: inline-block;
  margin: 0 7px;
  font-size: 1rem;
  color: #c9c9c9;
}
#header .breadcrumb li a {
  font-size: 1.8rem;
  letter-spacing: -0.9px;
}
#header .breadcrumb li:last-child a {
  font-weight: 600;
}
#header .breadcrumb li:last-child:after {
  display: none;
}

/* side menu */
.aside-hide {
  left: -100% !important;
  transition: 0.8s;
}
#aside {
  position: fixed;
  top: 55px;
  left: 0;
  width: 240px;
  height: 100%;
  background-color: #26292b;
  z-index: 1;
}
#aside .nav-link .link {
  display: block;
  height: 50px;
  padding: 0 8px;
  line-height: 50px;
  font-size: 1.4rem;
  letter-spacing: -0.7px;
}
#aside .nav-link .link a {
  display: block;
  color: #fff;
  text-indent: 10%;
}
#aside .nav-link .link a img {
  width: 20px;
  opacity: 0.5;
  margin-right: 7%;
}
#aside .nav-link .link:hover,
#aside .nav-link .link.active {
  background-color: #00d39c;
}
#aside .nav-link .link:hover img,
#aside .nav-link .link.active img {
  opacity: 1;
}

/* side menu depth*/
#aside-depth {
  position: fixed;
  z-index: 1;
  top: 105px;
  left: 250px;
}
#aside-depth .nav-link {
  width: 160px;
}
#aside-depth .nav-link a {
  display: block;
  height: 40px;
  line-height: 40px;
  background-color: #666;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: -0.65px;
}
#aside-depth .nav-link a.active {
  background-color: #333;
}

/* 모바일 메뉴 */
#mobileMenu {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
}
#mobileMenu .inner {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
}
#mobileMenu .all-menu {
  position: absolute;
  top: 20px;
  left: 0;
  border: 0;
  background-color: transparent;
  font-size: 0;
  vertical-align: middle;
}
#mobileMenu .m-header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding-top: 60px;
}
#mobileMenu .m-header .user-img {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #fff;
  vertical-align: middle;
}
#mobileMenu .m-header .user-name {
  display: inline-block;
  margin-left: 5%;
  font-size: 1.7rem;
  letter-spacing: -0.85px;
  line-height: 1.5;
  color: #fff;
}
#mobileMenu .m-header .user-name b {
  font-size: 2rem;
}
#mobileMenu .m-header .btn-mypage {
  float: right;
  width: 105px;
  height: 50px;
}
#mobileMenu .m-menu {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
}
#mobileMenu .m-menu .menu .list {
  float: left;
  width: 25%;
  height: 110px;
  text-align: center;
}
#mobileMenu .m-menu .menu .list.active {
  background: rgba(0, 211, 156, 0.2);
}
#mobileMenu .m-menu .menu .list .menu-img {
  display: block;
  height: 50px;
  padding-top: 10px;
  line-height: 50px;
}
#mobileMenu .m-menu .menu .list .menu-img img {
  width: 34px;
}
#mobileMenu .m-menu .menu .list .text {
  color: #fff;
  font-size: 12px;
  letter-spacing: -0.6px;
  line-height: 1.5;
}
#mobileMenu .menu-title {
  padding: 20px 0;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: -0.8px;
}
.m-menu-depth-wrap {
  width: 100%;
  height: 160px;
}
.m-menu-depth {
  display: none;
  width: 100%;
}
.m-menu-depth .menu-depth .list {
  float: left;
  width: 49%;
  height: 42px;
  line-height: 42px;
  margin-right: 2%;
  margin-bottom: 10px;
  border: 2px solid #fff;
  text-align: center;
  box-sizing: border-box;
}
.m-menu-depth .menu-depth .list.active {
  background: rgba(0, 211, 156, 0.2);
}
.m-menu-depth .menu-depth .list:nth-of-type(2n) {
  margin-right: 0;
}
.m-menu-depth .menu-depth .list a {
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: -0.6px;
}
.m-btn-option-wrap {
  padding-bottom: 40px;
}
.m-btn-option-wrap .btn-option {
  width: 100%;
  height: 53px;
  background: #fff;
  border: 0;
}
.m-btn-option-wrap .btn-option img {
  float: right;
  width: 30px;
}

/* 옵션번호 상품검색 */
.search-option-box {
  width: 90%;
  margin: auto;
  padding-top: 80px;
}
.search-option-box .title {
  display: block;
  margin-bottom: 15px;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: -0.7px;
  font-weight: 600;
  text-align: center;
}
.search-option-box form .option-box {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  background-color: #fff;
}
.search-option-box form .option-box input {
  display: inline-block;
  width: 85%;
  height: 100%;
  padding: 0 2%;
  box-sizing: border-box;
}
.search-option-box form .option-box button {
  float: right;
  width: 15%;
  height: 100%;
  border: 0;
  background: transparent;
}
.search-option-box form .option-box button img {
  width: 20px;
}
.search-option-box .option-img {
  width: 100%;
  height: 220px;
  margin-bottom: 15px;
}
.search-option-box .option-img img {
  width: 100%;
  height: 100%;
}
.search-option-box .option-name {
  line-height: 1.4;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: -0.6px;
  text-align: center;
}

/* 모바일 옵션번호 상품검색 */
.m-option-wrap {
  display: none;
  position: absolute;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}
.m-option-wrap .option-header {
  margin: 25px 0;
}
.m-option-wrap .option-header button {
  height: 17px;
  line-height: 17px;
  margin-bottom: 20px;
  background: none;
  border: 0;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: -0.8px;
}
.m-option-wrap .option-header button img {
  width: 10px;
  margin-right: 10px;
}
.m-option-wrap .option-box {
  width: 100%;
  height: 53px;
  background: #fff;
}
.m-option-wrap .option-box input {
  width: 83%;
  height: 53px;
  font-size: 1.7rem;
  letter-spacing: -0.8px;
  padding: 0 10px;
  box-sizing: border-box;
}
.m-option-wrap .option-box button {
  float: right;
  padding-top: 10px;
}
.m-option-wrap .option-box button img {
  width: 30px;
}
.m-option-wrap .option-result {
  margin: 15px 0;
}
.m-option-wrap .option-result .option-img {
  float: left;
  width: 50%;
  height: 50%;
}
.m-option-wrap .option-result .option-img img {
  width: 100%;
  height: 100%;
}
.m-option-wrap .option-result .option-name {
  float: left;
  width: 50%;
  padding: 30px 15px;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: -0.8px;
  line-height: 1.5;
  box-sizing: border-box;
}
.m-option-wrap .option-result .option-name .label {
  display: block;
  color: #00ffbd;
}

/* container */
#container {
  padding-left: 240px;
  padding-top: 55px;
  padding-bottom: 70px;
}
#content {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}
